@media only screen and (min-width: 250px) and (max-width: 1024px) 
{
    .TopNav
    {
        width: 195%;
    }
    .DownNav
    {
        visibility: hidden;
    }

    .MainIntro,
    .MainContactUs,
    .MainWork,
    .MainAboutUs
    {
        width: 60em;
        font-size: 22px;
    }
   
    .MainFooter
    {
        width: 195%;
    }
}

@media only screen and (min-width: 1025px)
{
    .MainBurger
    {
        display: none;
    } 
}

